<header>
  <pnp-language-selector></pnp-language-selector>

  <div class="header">
      <img class="header__logo" src="/assets/logo.png" alt="Logo image of PNP group" title="PNP Group logo" />
      <div class="header__content">
        <div class="header__content-contacts">
          <i class="material-icons">schedule</i>
          <div>
            <div>Open hours</div>
            <strong>MON - SAT 8.00 - 18.00</strong>
          </div>
        </div>
        <div class="header__content-contacts">
            <i class="material-icons">email</i>
            <div>
              <div>+7 (7253) 15 61 88</div>
              <strong>khairullayevn@globalpnp.com</strong>
            </div>
          </div>
          <div class="header__content-contacts">
              <i class="material-icons">room</i>
              <div>
                <div>Казахстан, ЮКО, Сайрамский р-н, пос.Аксукент</div>
                <strong>Карабулакское шоссе 18А</strong>
              </div>
          </div>
      </div>
  </div>
</header>