@import '../../../styles/shared.scss';

@include responsiveTill(990px) {
  .header {
    &__content {
      visibility: hidden;
    }
  }
}

.header {
  height: 132px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 140px;
  }

  &__content {
    display: flex;
    width: 75%;

    &-contacts {
      display: flex;
      align-items: center;
      margin-right: 30px;

      i {
        margin-right: 10px;
      }
    }
  }
}
