$color-dark-blue: #18538e;
$color-light-blue: #0096da;
$color-blue: #2887e6;
$color-dark-gray: #2c2c2c;
$color-medium-gray: #e0e0e0;
$color-gray: #f0f0f0;
$color-white: #ffffff;
$color-violet: #261447;

$font-size-tiny: 12px;
$font-size-small: 15px;
$font-size-medium: 16px;
$font-size-large: 17px;
