<div class="navigation-bar">
  <a class="underline-from__center" routerLink="/home" routerLinkActive="active">{{ 'Navigation.Home' | translate | uppercase }}</a>
  <a class="underline-from__center" routerLink="/news" routerLinkActive="active">{{ 'Navigation.News' | translate | uppercase }}</a>
  <a class="underline-from__center" routerLink="/services" routerLinkActive="active">{{ 'Navigation.Services' | translate | uppercase }}</a>
  <a class="underline-from__center" routerLink="/contacts" routerLinkActive="active">{{ 'Navigation.Contacts' | translate | uppercase }}</a>
</div>